*.zip
target/
out/
.DS_Store
*.classpath
*.project
*.settings
.security/
generated/
*.jar
*.war
*.iml
.idea
workspace
data
logs/
tmp/
.vscode/
/front-end/node_modules
/front-end/package.json
/front-end/package-lock.json