.center_div
{
    margin : 0 auto;
    width : 40%;
    margin-top : 70px;
    min-height : 450px; 
}

.error
{
    font-size: 12px;
    color:red;
    font-weight: 600;
    margin-top: 2px;
    margin-left: 10px;
}

.button-align
{
    padding-top: 25px;
}

.header-align
{
    padding-bottom: 35px;
    color: #3C6478;
}