table 
{
    width: 40%;
}

mat-form-field 
{
    margin-right: 12px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 50%;
  }

  .check
  {
      display : inline-block;
  }

  .check1
  {
      text-align: right;
  }