<form [formGroup]="applyLeaveForm" (ngSubmit)="submitLeavesForm(formDirective)" #formDirective="ngForm"> 
  <div formArrayName="dataRow">
    <div *ngFor="let row of getControls(applyLeaveForm); let i = index" [formGroupName]="i">
      
        <div class="check">
          <mat-form-field appearance="outline" > 
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1" (dateInput)="enableEndDate($event,i)" placeholder="Start Date" formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker [dateClass]="dateClass" #picker1></mat-datepicker>
          </mat-form-field>
        </div>

        <div class = "check">
            <mat-form-field appearance="outline">
              <input matInput [matDatepickerFilter]="myFilter" [min]="getMinDate(i)" (dateInput)="enableLeaveType(i)" [matDatepicker]="picker2" placeholder="End Date" formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker [dateClass]="dateClass" #picker2></mat-datepicker>
            </mat-form-field>
        </div>

        <div class = "check">
            <mat-form-field appearance="outline" >
                <mat-label>Leave Type</mat-label>
                <mat-select (selectionChange)="checkAvailableLeaves($event.value,i)" formControlName="leaveType">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let type of leaveType" [value]="type">
                     {{ type }}   
                  </mat-option>
                </mat-select>
            </mat-form-field>  
        </div>
        <div class = "check">
            <mat-form-field appearance="outline" >
                <textarea matInput placeholder="Reason" formControlName="reason"></textarea>
            </mat-form-field>
        </div>

        <div class="check">
            <button type = "button" mat-raised-button (click) = "addRowForApplyLeaveButtonClick()" color="accent" [disabled]="applyLeaveForm.invalid">+</button>
        </div>
      
        <div class="check" *ngIf="applyLeaveForm.get('dataRow').length > 1">
            <button type="button" mat-raised-button color="accent" (click)="deleteRowForApplyLeaveButtonClick(i)">-</button>
        </div>

    </div>

    <div class = "error" *ngIf="isClicked && !status?.flag">
            {{ status?.message }}
    </div>

   </div>
  
  <button type = "submit" mat-raised-button  color = "accent" [disabled]="applyLeaveForm.invalid">Apply</button>
</form> 